<!DOCTYPE html>
<html>
<head>
    <title>Registro</title>
</head>
<body>
    <h1>Página de Registro</h1>
    <form method="POST" action="/reg">
        <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" required><br>

    <label for ="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required><br>

    <label for ="email"><b>Password</b></label>
    <input type="email" placeholder="Enter e-mail" name="email" required><br>

    <button type="button" class="btn btn-primary">Submit</button>
    </form>
    
</body>
</html>